 @model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    var count = 0;
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Bilgi Listesi </div>
                    </div>
                    <div class="card-body">

                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="width: 170px">Başlık</th>
                                    <th>Açıklama</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td> @item.Title</td>
                                        <td>@item.Description</td>
                                        <td> <a href="/About/DeleteAbout/@item.AboutID" class="btn btn-outline-danger">Sil</a></td>
                                        <td> <a href="/About/UpdateAbout/@item.AboutID" class="btn btn-outline-success">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <a href="/About/CreateAbout" class="btn btn-outline-success">Yeni Bilgi Oluştur</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
