@model List<ResultTableDto>
@{
    ViewData["Title"] = "TableListByStatus";
    Layout = "~/Views/Admin/Index.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="content">
    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7050/SignalRHub").build();
            $("#connstatus").text(connection.state);
            connection.start().then(() => {
                $("#connstatus").text(connection.state);
                setInterval(() => {
                    connection.invoke("GetTableListByStatus");

                }, 2000);
            }).catch((err) => { console.log(err) });

            connection.on("ReceiveTableListByStatus", (value) => {
                console.log(value);
                let tablehtml = `<div class="row">` 
                $.each(value, (index, item) => {
                    tablehtml += `<div class="col-md-3">
                                                    <div class="card card-stats ${item.status == true ? "card-danger" : "card-success"}">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-align-left"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">${item.name}</p>
                                                        <h4 class="card-title">(${item.status == true ? "Masa Dolu" : "Masa Boş"})</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                });
                tablehtml += "</div>";
                $("#tablelist").html(tablehtml);
            });

        });
    </script>
    <div class="container-fluid">
        <h4 class="page-title">Anlık Masa Durumları</h4>

        <div id="tablelist">
        </div>


    </div>
</div>

