@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne çıkanlar İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="UpdateFeature">
                    <input type="hidden" asp-for="FeatureID"/>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Öne Çıkan Ürünü Güncelle</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Başlık 1</label>
                                <input type="text" class="form-control" asp-for="Title1">
                            </div>
                            <div class="form-group">
                                <label>Açıklama 1</label>
                                <input type="text" class="form-control" asp-for="Description1">
                            </div>
                            <div class="form-group">
                                <label>Başlık 2</label>
                                <input type="text" class="form-control" asp-for="Title2">
                            </div>
                            <div class="form-group">
                                <label>Açıklama 2</label>
                                <input type="text" class="form-control" asp-for="Description2">
                            </div>
                            <div class="form-group">
                                <label>Başlık 3</label>
                                <input type="text" class="form-control" asp-for="Title3">
                            </div>
                            <div class="form-group">
                                <label>Açıklama 3</label>
                                <input type="text" class="form-control" asp-for="Description3">
                            </div>
                        </div>
                        <div class="card-action">

                            <button class="btn btn-success">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

